@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
}

.navbar-brand {
  width: 7%;
  height: 10vh;
  margin-left: 1em;
}

svg {
  width: 100%;
  height: 100%;
}
nav .nav-item a:hover {
  color: black !important;
}


/* small phone */
@media screen and (min-width: 360px) {
  
  .hero-section {
    width: 100%;
    height: 55vh;
    margin-top: 2px;
  }
  .header-text {
    text-align: center;
  }

  .subheader-text {
    width: 80%;
    margin: 0 auto;
  }
  p {
    color: #b1b1b1;
    font-weight: lighter;
    text-align: center;
    font-size: 12px;
  }
  .hero-section .svg-1 {
    position: absolute;
    width: 30%;
    right: 1%;
    z-index: -2;
  }
  .hero-section .svg-2 {
    position: absolute;
    width: 56%;
    left: 34%;
    top: 17%;
    z-index: -2;
    transform: rotate(-357deg);
  }
  .hero-section span {
    color: white;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 20vh;
    margin: 20px auto;
  }
  .hero-buttons input {
    width: 165px;
    height: 8vh;
    margin: auto;
    border-radius: 50px;
    border:  1px solid white solid black;
    font-weight: bold;
  }

  .image-container{
    display: none;
  }
  .resume-btn {
    background-color: black;
    color: white;
  }
  .talk-btn {
    background-color: white;
    color: black;
    border:  1px solid black;
  }

  .scroll {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .about-section {
    background-color: black;
    width: 100%;
    height: 80vh;
    background-image: url(./assets/mobile/noise.png),
      url(./assets/mobile/sphere-pattern.png);
    background-size: cover, 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, right 35% bottom 40%;
  }
  .about-section .text {
    width: 80%;
    margin: auto;
    padding-top: 20px;
  }
  .about-section .text p {
    color: white;
    text-align: justify;
  }
  .hire-btn {
    margin: 20px 40px;
    width: 165px;
    height: 8vh;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    background-color: white;
    color: black;
  }
  .title-text {
    color: white;
  }

  .service-section {
    width: 100%;
  }

  .service-section .text {
    width: 80%;
    margin: auto;
    padding-top: 20px;
  }
  .service-section .text-secondary {
    color: black;
    text-align: center;
  }
  .service-section .title-text {
    color: black;
    text-align: center;
  }
  .projects {
    width: 80%;
    margin: 20px auto;
  }

  .top-row {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .alpha-project .project-image {
    width: 100%;
  }

  .alpha-project, .siel-project, .bond-healthcare, .docamet{
    margin-top: 2em;
  }
  .project-image img {
    max-width: 100%;
  }

  .button {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
  }

  .project-details p {
    text-align: justify;
  }
  .btn-text {
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin: auto;
  }
  .button svg {
    width: 20%;
    height: 5vh;
  }

  .show-btn {
    width: 165px;
    height: 8vh;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    background-color: black;
    color: white;
    margin: 4em 4em;
  }
  .skill{
    background-color: black;
    width: 100%;
    height: 136vh;
    background-image: url(./assets/mobile/noise.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .skill .text{
    width: 80%;
    margin: 0 auto;
  }

  .user-research, .lo-fi, .mock-up{
    width: 80%;
    margin: 0 auto;
  }

  .skill-title{
    color: white;
    font: 2px;
  }

  .user-research p, .lo-fi p, .mock-up p{
    text-align: justify;
  }

  .client{
    width: 100%;

  }

  .client .text{
    width: 80%;
    margin: 0 auto;
  }

  .client h1{
    color: black;
    text-align: center;
  }
  .client p{
    text-align: center;
  }

  .client-list{
    width: 40%;
    margin: 2em auto;
  }

  .client-logo{
    width: 80%;
    margin: 2em auto;
  }

  .client-logo img{
    max-width: 100%;
  }
  .grayscale { 
    filter: grayscale(100%); 
  }

  .contact{
    width: 100%;
    margin-top: 6em;
  }

  .contact .text{
    width: 80%;
    margin: 10em auto;
  }

  .contact h1{
    color: black;
    text-align: center;
  }
  .contact p{
    text-align: center;
  }

  .contact .hire-btn {
    width: 165px;
    height: 8vh;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    background-color: black;
    color: white;
    margin: 0.5em 4em;
  }

  footer{
    width: 100%;
    background-color: black;
  }
  .footer-links{
    
    width: 80%;
    margin: 0 auto;
    padding-top: 4em;
    display: flex;
    flex-direction: column;
  }

  .footer-link{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .footer-link a{
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  .contact-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .contact-links a{
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  .copyright{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 375px) {
  .hero-section .svg-2 {
    position: absolute;
    width: 56%;
    left: 34%;
    top: 18%;
    z-index: -2;
    transform: rotate(-355deg);
  }
}


/* medium phone */
@media screen and (min-width: 390px) {
  .header-text {
    text-align: center;
    width: 90%;
  }

  .subheader-text {
    width: 80%;
    margin: 0 auto;
  }
  p {
    color: #b1b1b1;
    font-weight: lighter;
    text-align: center;
    font-size: 14px;
  }
  .hero-section .svg-1 {
    position: absolute;
    width: 30%;
    right: 7%;
    z-index: -2;
  }
  .hero-section .svg-2 {
    position: absolute;
    width: 56%;
    left: 29%;
    top: 16%;
    z-index: -2;
    transform: rotate(-356deg);
  }

  .about-section {
    background-color: black;
    width: 100%;
    height: 74vh;
    background-image: url(./assets/mobile/noise.png),
      url(./assets/mobile/sphere-pattern.png);
    background-size: cover, 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, right 35% bottom 40%;
  }

  .about-section p{
    margin-top: 2em;
  }

  .skill{
    background-color: black;
    width: 100%;
    height: 128vh;
  }
}


@media screen and (min-width: 400px) {
  .header-text {
    text-align: center;
    width: 90%;
  }

  .subheader-text {
    width: 80%;
    margin: 0 auto;
  }
  p {
    color: #b1b1b1;
    font-weight: lighter;
    text-align: center;
    font-size: 14px;
  }
  .hero-section .svg-1 {
    position: absolute;
    width: 30%;
    right: 7%;
    z-index: -2;
  }
  .hero-section .svg-2 {
    position: absolute;
    width: 56%;
    left: 30%;
    bottom: 78%;
    z-index: -2;
    transform: rotate(-355deg);
  }

  .about-section {
    background-color: black;
    width: 100%;
    height: 66vh;
    background-image: url(./assets/mobile/noise.png),
      url(./assets/mobile/sphere-pattern.png);
    background-size: cover, 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, right 35% bottom 40%;
  }

  .about-section p{
    margin-top: 2em;
  }

  .skill{
    background-color: black;
    width: 100%;
    height: 110vh;
  }
}

@media screen and (min-width: 412px) {
  .hero-section .svg-2 {
    position: absolute;
    width: 56%;
    left: 30%;
    top: 15.5%;
    z-index: -2;
    transform: rotate(-355deg);
  }
}

@media screen and (min-width: 414px) {
  .hero-section .svg-2 {
    position: absolute;
    width: 56%;
    left: 30%;
    top:16%;
    z-index: -2;
    transform: rotate(-355deg);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    width: 100%;
    height: 35vh;
    margin-top: 2px;
  }
  .header-text {
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }

  .subheader-text {
    width: 70%;
    margin: 0 auto;
  }
  p {
    color: #b1b1b1;
    font-weight: lighter;
    text-align: center;
    font-size: 15px;
  }
  .hero-section .svg-1 {
    position: absolute;
    width: 16%;
    right: 28.5%;
    z-index: -2;
  }
  .hero-section .svg-2 {
    position: absolute;
    width: 32%;
    left: 22.5%;
    top: 16%;
    z-index: -2;
    transform: rotate(-356deg);
  }

  .hero-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: 12vh;
    margin: 20px auto;
  }

  .hero-buttons input {
    width: 130px;
    height: 6vh;
    margin: auto;
    border-radius: 50px;
    border:  1px solid white solid black;
    font-weight: bold;
  }
  .scroll {
    width: 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .about-section {
    background-color: black;
    width: 100%;
    height: 50vh;
    background-image: url(./assets/mobile/noise.png),
      url(./assets/mobile/sphere-pattern.png);
    background-size: cover, 80%;
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, right 35% bottom 40%;
  }
  
  .hire-btn {
    margin: 3em 5em;
    width: 130px;
    height: 6vh;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    background-color: white;
    color: black;
  }


  .service-section .text {
    width: 50%;
    margin: auto;
    padding-top: 20px;
  }
  
  .projects {
    width: 80%;
    margin: 20px auto;
  }

  .top-row {
    width: 100%;
    height: 36vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .alpha-project, .siel-project, .bond-healthcare, .docamet{
    width: 40%;
  }
  .alpha-project .project-image {
    width: 100%;
  }

  .project-image img {
    max-width: 100%;
  }

  .button {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
  }

  .project-details p {
    text-align: justify;
  }
  .btn-text {
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin: auto;
  }
  .button svg {
    width: 20%;
    height: 5vh;
  }

  .show-btn {
    width: 130px;
    height: 6vh;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    background-color: black;
    color: white;
    margin: 1.5em 15em;
  }

  .bottom-row {
    width: 100%;
    height: 36vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .skill{
    height: 118vh;
  }
  .user-research, .mock-up{
    width: 80%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .lo-fi{
    width: 80%;
    height: 30vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .details{
    width: 40%;
    height: 20vh;
  }
  .details p{
    font-size: 10px;
  }

  .image-container{
    display: inline-block;
    width: 50%;
  }

  .image-container img{
    max-width: 100%;
  }

  .client{
    width: 100%;

  }

  .client .text{
    width: 80%;
    margin: 0 auto;
  }

  .client h1{
    color: black;
    text-align: center;
  }
  .client p{
    text-align: center;
  }

  .client-list{
    width: 80%;
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
  }

  .client-logo{
    width: 15%;
    margin: 0 auto;
  }

  .client-logo img{
    max-width: 100%;
  }

  .contact .hire-btn {
    margin: 2em 16em;
    width: 130px;
    height: 6vh;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    background-color: black;
    color: white;
  }
}

/* desktop view  */
@media screen and (min-width: 1280px) {
  
  .hero-section {
    width: 100%;
    height: 45vh;
    margin-top: 2px;
  }
  .header-text {
    text-align: center;
    width: 40%;
    margin: 0 auto;
  }
  
  .subheader-text {
    width: 40%;
    margin: 0 auto;
  }
  p {
    color: #b1b1b1;
    font-weight: lighter;
    text-align: center;
    font-size: 16px;
  }
  .hero-section .svg-1 {
    position: absolute;
    width: 12%;
    right: 30%;
    z-index: -2;
  }
  .hero-section .svg-2 {
    position: absolute;
    width: 22%;
    left: 43%;
    top: 20%;
    z-index: -2;
    transform: rotate(-354.5deg);
  }
  
  .hero-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    height: 12vh;
    margin: 20px auto;
  }
  
  .hero-buttons input {
    width: 165px;
    height: 8vh;
    margin: auto;
    border-radius: 50px;
    border:  2px solid black;
    font-weight: bold;
  }

  .hero-buttons .resume-btn{
    border: none;
  }
  .scroll {
    width: 20%;
    margin: 4em auto 10em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .about-section {
    background-color: black;
    width: 100%;
    height: 120vh;
    background-image: url(./assets/mobile/noise.png),
      url(./assets/mobile/sphere-pattern.png);
    background-size: cover, 80%;
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, right 35% bottom 10%;
  }
  
  
  .about-section .text {
    width: 40%;
    margin-left: 5em;
    padding-top: 5em;
  }
  .about-section .text p {
    color: white;
    text-align: justify;
  }
  
  .title-text {
    color: white;
  }
  
  
  .hire-btn {
    margin: 3em 5em;
    width: 165px;
    height: 8vh;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    background-color: white;
    color: black;
  }
  
  /* service section */
  
  .service-section {
    width: 100%;
    height: 180vh;
  }
  .service-section .text {
    width: 50%;
    margin: auto;
    padding-top: 5em;
  }
  
  .service-section .title-text {
    width: 60%;
    color: black;
    margin: 0 auto;
  }
  .projects {
    width: 60%;
    margin: 20px auto;
    height: 120vh;
  }
  
  .top-row, .bottom-row {
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .alpha-project, .siel-project, .bond-healthcare, .docamet{
    width: 40%;
  }
  .alpha-project .project-image {
    width: 100%;
  }
  
  .project-image img {
    max-width: 100%;
  }
  
  .button {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .project-details p {
    text-align: justify;
  }
  .btn-text {
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin: auto;
    cursor: pointer;
  }
  .button svg {
    width: 20%;
    height: 5vh;
  }
  
  .show-btn {
    width: 165px;
    height: 8vh;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    background-color: black;
    color: white;
    margin: 5em 20em;
  }
  
  
  
  .skill{
    height: 280vh;
  }
  
  .skill .text {
    width: 50%;
    margin-left: 8em;
    padding-top: 5em;
  }
  
  .skill .title-text {
    width: 60%;
    color: white;
  }
  
  .user-research, .mock-up{
    width: 80%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .lo-fi{
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  
  .details{
    width: 45%;
    height: 50vh;
  }
  .details h6{
    font-size: 24px;
  }
  .details p{
    font-size: 16px;
  }
  
  .image-container{
    display: inline-block;
    width: 55%;
  }
  
  .image-container img{
    max-width: 100%;
  }

  .client {
    width: 100%;
    height: 60vh;
  }
  .client .text {
    width: 50%;
    margin: auto;
    padding-top: 5em;
  }
  
  .client .title-text {
    width: 60%;
    color: black;
    margin: 0 auto;
  }
  .client-list{
    margin-top: 3em;
  }

  .contact .hire-btn{
    width: 165px;
    height: 8vh;
    margin: 2em 27em;
  }
  .footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer{
    display: flex;
    flex-direction: column;
  }
  .footer-link{
    width: 40%;
  }
  .contact-links{
    width: 40%;
  }
  .copyright{
    width: 30%;
  }
}